<h1 mat-dialog-title>Add a new sentiment</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput required [formControl]="word" placeholder="Word">
    <mat-error *ngIf="word.invalid"> {{getWordScoreErrorMessage()}} </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput required [formControl]="sentimentScore" placeholder="Sentiment score">
    <mat-error *ngIf="sentimentScore.invalid"> {{getSentimentScoreErrorMessage()}} </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="closeDialog()">Cancel</button>
  <button mat-button color="primary" cdkFocusInitial (click)="addSentiment()" [disabled]="this.word.invalid || this.sentimentScore.invalid">Save</button>
</div>
